#about {
  position: relative;
  background: #665464 url("../img/about-layer.png") no-repeat top center;
  background-size: cover;
  padding: 202px 0 112px;

    .about-text-wrap {

      .about-heading {
        margin-bottom: 34px;
      }

      .about-paragraph {
        margin-bottom: 59px;
      }

      .about-team {
        position: relative;
        margin: 0 auto;
        width: 276px;
        height: 50px;
        background: #a1ca6c;
        color: #ffffff;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 68px;
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid #a1ca6c;
          bottom: -15px;
          left: 121px;
        }
      }
    }

    .about-row {

      .about-column {
        background: #5d4c5b;
        transition: background-color .3s;
        &:hover {
          .member-heading {
            color: #ffffff;
          }
          .member-paragraph {
            color: #ff8973;
          }
          background: #544452;
        }

        .about-wrap {
          margin: 43px 0 26px;
          text-align: center;
        }

        .member-heading {
          text-align: center;
          font-size: 25px;
          font-weight: 700;
          color: #c7b6c5;
          text-transform: uppercase;
          margin-bottom: 13px;
        }

        .member-paragraph {
          font-size: 14px;
          text-align: center;
          color: #a1ca6c;
          margin-bottom: 37px;
        }

        .social-member-list {
          text-align: center;

          .social-member-list-item{
            margin: 0 10px 32px;
            display: inline-block;
            &:hover {
              .facebook {
                background: #4f689e;
              }
              .twitter {
                background: #74c7d5;
              }
              .google {
                background: #df5c64;
              }
              .linkedin {
                background: #3e61af;
              }
            }
          }

          .social-member-list-link {
            display: block;
            color: #ffffff;
            line-height: 32px;
            width: 32px;
            height: 32px;
            background: #a1859e;
            border-radius: 50%;
            font-size: 16px;
            transition: background-color .3s;
          }
        }
      }

    }

}
