#hero {
  position: relative;

  .slider {

    .hero-cover-slide {
      width: 100%;
      height: auto;
      max-height: 100%;
      display: block;
    }

    .second-text {
      left: calc(50% - 556px) !important;
    }

    .third-text {
      left: calc(50% - 486px) !important;
    }

    .hero-heading-wrap {
      position: absolute;
      top: calc(50% - 92px);
      left: calc(50% - 458px);
      padding: 34px 66px 34px 42px;
      background: rgba(255, 255, 255, .3);
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .hero-heading-text-left {
        float: left;
        font-size: 60px;
        font-weight: 300;
        text-align: right;
        line-height: 58px;
        width: 367px;
      }

      .hero-heading-text-right {
        float: left;
        margin-left: 23px;
        font-size: 138px;
        font-weight: 700;
        line-height: 116px;
      }
    }
  }
}

.bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;

  .bx-controls-direction a {
    margin-top: -28px;
    width: 56px;
    height: 56px;
  }

  .bx-prev {
    left: 49px;
    background: url("../img/prev.png") no-repeat;
  }

  .bx-next {
    right: 49px;
    background: url("../img/next.png") no-repeat;
    &:hover {
      background-position: 0 0;
    }
    &:focus {
      background-position: 0 0;
    }
  }

  .bx-pager {
    position: absolute;
    bottom: 91px;
    padding-top: 0;
    .bx-pager-item {

      .bx-pager-link {
        display: block;
        background: #e2e1d6;
        width: 20px;
        height: 20px;
        margin: 0 20px;
        border-radius: 50%;
      }
    }
  }
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #74c7d5;
  transition: .3s;
}
