#gallery {
  position: relative;
  background: #81a256 url("../img/gallery-layer.png") no-repeat top center;
  background-size: cover;
  padding: 202px 0 107px;

    .gallery-text-wrap {

      .gallery-heading {
        margin-bottom: 34px;
      }

      .gallery-paragraph {
        margin-bottom: 58px;
      }
    }

    .portfolio-wrap {
      border-top: 1px solid #94b963;
      border-bottom: 1px solid #94b963;
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .portfolio-text {
        float: left;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin: 42px 0;
      }

      .portfolio-list {
        float: right;

        .portfolio-list-item {
          display: inline-block;
          margin: 42px 16px;
        }

        .portfolio-list-link {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          color: #ffffff;
          padding: 13px 10px;
          border-radius: 5px;
          transition: background-color .3s;
          &:hover {
            background: #f5c149;
          }
        }
      }
    }
}
