#header-nav {
  position: fixed;
  height: 86px;
  width: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 10;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  .company-logo {
    float: left;
    font-size: 50px;
    font-family: 'Damion', cursive;
    color: $text-color;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .btn-wrap {
    display: none;
    @media (max-width: 800px) {
      display: block;
      .hamburger {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #ffffff;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
      }

      .cross {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px 15px 0px 15px;
        color: #ffffff;
        border: 0;
        font-size: 3em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
      }
    }
  }

  .menu {
    z-index: 10000000000000;
    text-align: center;
    width: 100%;

    .nav-list {
      float: right;
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .nav-list-item {
        float: left;
        margin: 42px 5px 0;
        display: block;
        font-size: 18px;

        .nav-list-link {
          color: $text-color;
          padding: 42px 25px 22px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: .3s;
        }

        &:nth-child(1) .nav-list-link:hover,
        &:nth-child(1) .nav-list-link.active {
          background: #74c7d5;
        }

        &:nth-child(2) .nav-list-link:hover,
        &:nth-child(2) .nav-list-link.active {
          background: #df5c64;
        }

        &:nth-child(3) .nav-list-link:hover,
        &:nth-child(3) .nav-list-link.active {
          background: #91778e;
        }

        &:nth-child(4) .nav-list-link:hover,
        &:nth-child(4) .nav-list-link.active {
          background: #a1ca6c;
        }

        &:nth-child(5) .nav-list-link:hover,
        &:nth-child(5) .nav-list-link.active {
          background: #82c8bd;
        }
      }
    }
  }
}
