#contact {
  position: relative;
  background: #75b4aa url("../img/contact-layer.png") no-repeat top center;
  background-size: cover;
  padding: 191px 0 231px;

  .contact-text-wrap {

    .contact-heading {
      margin-bottom: 34px;
    }

    .contact-paragraph {
      margin-bottom: 122px;
    }
  }
  .contact-row {

    .contact-heading-info {
      font-size: 30px;
      font-weight: $heading-text-weight;
      line-height: 30px;
      margin-bottom: 27px;
    }

    .contact-column-1 {
      width: 19.5%;

      .company-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 16.8px;
        color: #c0dfda;
        margin-bottom: 19px;
      }

      .contact-address {
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 77px;
      }

      .contact-list {

        .contact-list-item {

          & .contact-text {
            display: inline-block;
            width: 72px;
            color: #d0efea;
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
          }
          & .contact-list-link {
            color: #ffffff;
            text-decoration: underline;
          }
          & .contact-info-text {
            color: #ffffff;
          }
        }
      }
    }
    .contact-column-map {
      margin-left: 4%;
      padding-top: 52px;
      #map {
        width: 260px;
        height: 240px;
        border-radius: 5px;
      }
    }

    .contact-half-column {
      position: relative;
      margin-left: 4%;

      #contact-form {
        display: flex;
        flex-direction: column;

        .contacts-input-wrap {
          display: flex;
          justify-content: space-between;

          .contact-input {
            width: 50%;
            margin-bottom: 20px;
            & + .contact-input {
              margin-left: 20px;
            }
          }
        }

        #contact-textarea {
          width: 100%;
          height: 169px;
          resize: none;
        }

        .contact-input,
        #contact-textarea {
          background: #68a097;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          color: #82c8bd;
          padding: 14px 0 14px 19px;
          border-radius: 5px;
          border: none;
          font-family: 'Lato', sans-serif;
          &:focus {
            background: #ffffff;
            color: #b5b5b5;
          }
        }

        .btn {
          position: absolute;
          width: 48%;
          top: calc(100% + 30px);
          left: calc(50% - 130px);
          font-size: 26px;
          font-weight: 700;
          color: #ffffff;
          background: #df5c64;
          line-height: 21px;
          border: none;
          border-radius: 5px;
          text-transform: uppercase;
          padding: 13px 0 16px;
          cursor: pointer;
          &:hover {
            background: #ffffff;
            color: #df5c64;
            border: 1px solid #df5c64;
            transition: .3s;
          }
        }
      }
    }
  }
}
