#contact {
  position: relative;
  background: #75b4aa url("../img/contact-layer.png") no-repeat top center;
  background-size: cover;
  padding: 191px 0 231px;

  .contact-text-wrap {

    .contact-heading {
      margin-bottom: 34px;
    }

    .contact-paragraph {
      margin-bottom: 122px;
    }
  }

  //.column-contact {
  //  width: 47.7%;
  //  & + .column-contact {
  //    margin-left: 4.6%;
  //  }
  //}


}
