#header-nav {
  position: fixed;
  height: 86px;
  width: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 10;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
  @media (max-width: 800px) {
    padding: 0;
  }

  .company-logo {
    float: left;
    font-size: 50px;
    font-family: 'Damion', cursive;
    color: $text-color;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    @media (max-width: 800px) {
      float: none;
      display: block;
      text-align: center;
    }
  }

  .btn-wrap {
    display: none;
    @media (max-width: 800px) {
      display: block;
      .hamburger,
      .cross {
        background: none;
        position: absolute;
        top: 25%;
        right: 1%;
        padding: 5px 15px 0px 15px;
        color: #ffffff;
        border: 0;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 100;
      }

      .cross {
        font-size: 36px;
      }
    }
  }

  .menu {
    z-index: 100;
    text-align: center;
    width: 100%;
    @media (max-width: 800px) {
      display: none;
    }

    .nav-list {
      float: right;
      &::after {
        content: '';
        display: block;
        clear: both;
      }
      @media (max-width: 800px) {
        float: none;
        background: #ffffff;
      }

      .nav-list-item {
        float: left;
        margin: 42px 5px 0;
        display: block;
        font-size: 18px;
        @media (max-width: 800px) {
          float: none;
          margin: 0;
          border-bottom: 1px solid #000000;
          &:nth-of-type(1) {
            margin-top: 18px;
            border-top: 1px solid #000000;
          }
        }

        .nav-list-link {
          color: $text-color;
          padding: 42px 25px 22px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: .3s;
          @media (max-width: 800px) {
            border-radius: 0;
            padding: 15px;
            color: #000000;
            display: block;
          }
        }

        &:nth-child(1) .nav-list-link:hover,
        &:nth-child(1) .nav-list-link.active {
          background: #74c7d5;
        }

        &:nth-child(2) .nav-list-link:hover,
        &:nth-child(2) .nav-list-link.active {
          background: #df5c64;
        }

        &:nth-child(3) .nav-list-link:hover,
        &:nth-child(3) .nav-list-link.active {
          background: #91778e;
        }

        &:nth-child(4) .nav-list-link:hover,
        &:nth-child(4) .nav-list-link.active {
          background: #a1ca6c;
        }

        &:nth-child(5) .nav-list-link:hover,
        &:nth-child(5) .nav-list-link.active {
          background: #82c8bd;
        }
      }
    }
  }
}
