#hero {
  position: relative;

  .slider {

    .hero-cover-slide {
      width: 100%;
      height: auto;
      max-height: 100%;
      display: block;
    }

    .second-text {
      left: calc(50% - 556px) !important;
      @media (max-width: 1400px) {
        left: calc(50% - 380px) !important;
      }
      @media  (max-width: 1024px) {
        left: calc(50% - 286px) !important;
      }
      @media (max-width: 650px) {
        left: calc(50% - 241px) !important;
      }
      @media (max-width: 500px) {
        left: calc(50% - 200px) !important;
      }
    }

    .third-text {
      left: calc(50% - 486px) !important;
      @media (max-width: 1400px) {
        left: calc(50% - 334px) !important;
      }
      @media (max-width: 1024px) {
        left: calc(50% - 251px) !important;
      }
      @media (max-width: 650px) {
        left: calc(50% - 210px) !important;
      }
      @media (max-width: 500px) {
        left: calc(50% - 174px) !important;
      }
    }

    .hero-heading-wrap {
      position: absolute;
      top: calc(50% - 92px);
      left: calc(50% - 458px);
      padding: 34px 66px 34px 42px;
      @media (max-width: 1400px) {
        padding: 34px 42px;
        left: calc(50% - 315px);
        top: calc(50% - 73px);
      }
      @media (max-width: 1024px) {
        padding: 17px 21px;
        left: calc(50% - 237px);
        top: calc(50% - 45px);
      }
      @media (max-width: 650px) {
        padding: 12px 16px;
        left: calc(50% - 198px);
        top: calc(50% - 35px);
      }
      @media (max-width: 500px) {
        padding: 8px 12px;
        left: calc(50% - 164px);
        top: calc(50% - 29px);
      }
      @media (max-width: 420px) {
        z-index: -20;
      }

      background: rgba(255, 255, 255, .3);
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .hero-heading-text-left {
        float: left;
        font-size: 60px;
        font-weight: 300;
        text-align: right;
        line-height: 58px;
        width: 367px;
        @media (max-width: 1400px) {
          font-size: 40px;
          line-height: 38px;
          width: 245px;
        }
        @media (max-width: 1024px) {
          font-size: 30px;
          line-height: 28px;
          width: 200px;
        }
        @media (max-width: 650px) {
          font-size: 25px;
          line-height: 23px;
          width: 170px;
        }
        @media (max-width: 500px) {
          font-size: 20px;
          line-height: 21px;
          width: 140px;
        }
        @media (max-width: 410px) {
          font-size: 18px;
          line-height: 18px;
          width: 111px;
        }

      }

      .hero-heading-text-right {
        float: left;
        margin-left: 23px;
        font-size: 138px;
        font-weight: 700;
        line-height: 116px;
        @media (max-width: 1400px) {
          font-size: 92px;
          line-height: 76px;
          margin-left: 20px;
        }
        @media (max-width: 1024px) {
          font-size: 69px;
          line-height: 56px;
          margin-left: 16px;
        }
        @media (max-width: 650px) {
          font-size: 60px;
          line-height: 46px;
          margin-left: 13px;
        }
        @media (max-width: 500px) {
          font-size: 51px;
          line-height: 42px;
          margin-left: 10px;
        }
      }
    }
  }
}

.bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;

  .bx-controls-direction a {
    margin-top: -28px;
    width: 56px;
    height: 56px;
  }

  .bx-prev {
    left: 4%;
    background: url("../img/prev.png") no-repeat;
    @media (max-width: 800px) {
      display: none;
    }
  }

  .bx-next {
    right: 4%;
    background: url("../img/next.png") no-repeat;
    @media (max-width: 800px) {
      display: none;
    }
    &:hover {
      background-position: 0 0;
    }
    &:focus {
      background-position: 0 0;
    }
  }

  .bx-pager {
    position: absolute;
    bottom: 91px;
    @media (max-width: 1400px) {
      bottom: 80px;
    }
    @media (max-width: 1024px) {
      bottom: 70px;
    }
    @media (max-width: 650px) {
      bottom: 60px;
    }
    @media (max-width: 500px) {
      bottom: 50px;
    }
    @media (max-width: 420px) {
      z-index: -20;
    }
    padding-top: 0;
    .bx-pager-item {

      .bx-pager-link {
        display: block;
        background: #e2e1d6;
        width: 20px;
        height: 20px;
        @media (max-width: 900px) {
          width: 15px;
          height: 15px;
        }
        margin: 0 20px;
        @media (max-width: 500px) {
          margin: 0 25px;
        }
        border-radius: 50%;
      }
    }
  }
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #74c7d5;
  transition: .3s;
}
