$text-color: #fff;
$heading-text-size: 60px;
$heading-text-weight: 300;
$heading-text-lh: 58px;
$heading-upper: uppercase;
$heading-align: center;
$paragraph-text-size: 14px;
$paragraph-text-weight: 400;
$paragraph-text-lh: 24px;
$paragraph-align: center;



