* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  font-family: 'Lato', sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  margin: 0;
  color: #74c7d5; }

h2 {
  margin: 0; }

h4 {
  margin: 0; }

p {
  margin: 0; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.heading {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  line-height: 58px;
  text-transform: uppercase;
  text-align: center; }

.paragraph {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center; }

.column {
  width: 23.5%;
  border-radius: 5px; }

.column + .column {
  margin-left: 2%; }

#header-nav {
  position: fixed;
  height: 130px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10; }
  #header-nav .company-logo {
    float: left;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Damion', cursive;
    color: #fff;
    margin-top: 15px; }
  #header-nav .company-logo::after {
    content: '';
    display: block;
    clear: both; }
  #header-nav .nav-list {
    float: right; }
    #header-nav .nav-list .nav-list::after {
      content: '';
      display: block;
      clear: both; }
    #header-nav .nav-list .nav-list-item {
      margin: 42px 5px 0;
      display: inline-block; }
    #header-nav .nav-list .nav-list-link {
      color: #fff;
      padding: 42px 25px 22px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    #header-nav .nav-list .nav-list-link:hover {
      background: #74c7d5;
      transition: .3s; }

#hero {
  position: relative; }
  #hero .hero-cover {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: block; }
  #hero .hero-heading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -85px 0 0 -420px;
    padding: 34px 66px 34px 42px;
    background: rgba(255, 255, 255, 0.3); }
    #hero .hero-heading-wrap .hero-heading-text-left {
      float: left;
      font-size: 60px;
      font-weight: 300;
      text-align: right;
      line-height: 58px;
      width: 367px; }
    #hero .hero-heading-wrap .hero-heading-text-right {
      float: left;
      margin-left: 23px;
      font-size: 138px;
      font-weight: 700;
      line-height: 116px; }
    #hero .hero-heading-wrap .hero-heading-text-left::after,
    #hero .hero-heading-wrap .hero-heading-text-right::after {
      content: '';
      display: block;
      clear: both; }

#service {
  position: relative;
  background: #b24a50 url("../img/services-layer.png") no-repeat top center;
  background-size: cover;
  padding: 190px 0 124px; }
  #service .service-column {
    background: #c45158; }
  #service .service-text-wrap .service-heading {
    margin-bottom: 46px; }
  #service .service-text-wrap .service-text {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 58px;
    text-align: center; }
  #service .service-text-wrap .service-text-link {
    color: #ec9da2; }
  #service .service-text-wrap .service-paragraph {
    margin-bottom: 120px; }
  #service .service-row .service-column .service-wrap {
    position: relative;
    background: #ffffff;
    height: 120px;
    width: 120px;
    margin: 54px auto 34px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #df5c64;
    z-index: 10; }
    #service .service-row .service-column .service-wrap::before {
      content: '';
      position: absolute;
      z-index: -1;
      height: 120px;
      width: 120px;
      top: -10px;
      left: -10px;
      border: 5px solid #fff;
      border-radius: 50%; }
    #service .service-row .service-column .service-wrap .fa-lightbulb-o {
      font-size: 69px;
      color: #df5c64;
      line-height: 110px; }
    #service .service-row .service-column .service-wrap .fa-magic {
      font-size: 65px;
      color: #df5c64;
      line-height: 110px; }
    #service .service-row .service-column .service-wrap .fa-cogs {
      font-size: 70px;
      color: #df5c64;
      line-height: 110px; }
    #service .service-row .service-column .service-wrap .fa-rocket {
      font-size: 64px;
      color: #df5c64;
      line-height: 110px; }
  #service .service-row .service-column .service-feature-heading {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 51px; }
  #service .service-row .service-column .service-paragraph {
    margin-bottom: 43px;
    padding: 0 26px; }

#about {
  position: relative;
  background: #665464 url("../img/about-layer.png") no-repeat top center;
  background-size: cover;
  padding: 202px 0 112px; }
  #about .about-text-wrap .about-heading {
    margin-bottom: 34px; }
  #about .about-text-wrap .about-paragraph {
    margin-bottom: 59px; }
  #about .about-text-wrap .about-team {
    position: relative;
    margin: 0 auto;
    width: 276px;
    height: 50px;
    background: #a1ca6c;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 68px; }
    #about .about-text-wrap .about-team::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #a1ca6c;
      bottom: -15px;
      left: 121px; }
  #about .about-row .about-column {
    background: #5d4c5b; }
    #about .about-row .about-column .about-wrap {
      margin: 43px 0 26px;
      text-align: center; }
    #about .about-row .about-column .member-heading {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      color: #c7b6c5;
      text-transform: uppercase;
      margin-bottom: 13px; }
    #about .about-row .about-column .member-paragraph {
      font-size: 14px;
      text-align: center;
      color: #a1ca6c;
      margin-bottom: 37px; }

/*# sourceMappingURL=style.css.map */
